    <label for="">First Name: </label><input type="text" name="fname" placeholder="Enter Your First Name" value="<%= userdetails.fname %>" required> <br> <br>
    <label for="">Middle Name: </label><input type="text" name="mname" placeholder="Enter Your Middle Name" value="<%= userdetails.mname %>"> <br> <br>
    <label for="">Last Name: </label><input type="text" name="lname" placeholder="Enter Your Last Name" value="<%= userdetails.lname %>" required> <br> <br>
    <label for="">Email: </label><input type="email" name="email" placeholder="Enter Your Email"id="" value="<%= userdetails.email %>" required> <br> <br>
    <label for="">Mobile Numer: </label><input type="number" placeholder="Enter Your Mobile Number" name="phone" id="" value="<%= userdetails.phone %>" required> <br> <br>
    

    
<div>
    <button type="submit"> <%= btnName %> </button>
    <button onclick="popupClose()">Cancel</button>
</div>